<html lang="vi" class="translated-ltr"><head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani |  Mẫu</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>

<body>
    <!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></span></a></li>
            </ul>
            <div class="header__cart__price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mục: </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 150,00</font></font></span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tiếng Anh</font></font></div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người Tây Ban Nha</font></font></a></li>
                    <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tiếng Anh</font></font></a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font></a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhà</font></font></a></li>
                <li><a href="./shop-grid.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shop</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các trang</font></font></a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết cửa hàng</font></font></a></li>
                        <li><a href="./shoping-cart.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xe đẩy hàng</font></font></a></li>
                        <li><a href="./checkout.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></a></li>
                        <li><a href="./blog-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết Blog</font></font></a></li>
                    </ul>
                </li>
                <li><a href="./blog.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog</font></font></a></li>
                <li><a href="./contact.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiếp xúc</font></font></a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">THỰC ĐƠN</font></font></span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
            <ul>
                <li class="active"><a href="./index.html" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhà</font></font></a></li>
                <li><a href="./shop-grid.html" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shop</font></font></a></li>
                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pages</font></font></a>
                    <span class="slicknav_arrow"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">►</font></font></span></a><ul class="header__menu__dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                        <li><a href="./shop-details.html" role="menuitem" tabindex="-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết cửa hàng</font></font></a></li>
                        <li><a href="./shoping-cart.html" role="menuitem" tabindex="-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xe đẩy hàng</font></font></a></li>
                        <li><a href="./checkout.html" role="menuitem" tabindex="-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></a></li>
                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết Blog</font></font></a></li>
                    </ul>
                </li>
                <li><a href="./blog.html" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog</font></font></a></li>
                <li><a href="./contact.html" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiếp xúc</font></font></a></li>
            </ul>
        </nav></div></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">hello@colorlib.com</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giao hàng miễn phí cho tất cả Đơn hàng $ 99</font></font></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tiếng Anh</font></font></div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Người Tây Ban Nha</font></font></a></li>
                                    <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tiếng Anh</font></font></a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhà</font></font></a></li>
                            <li class="active"><a href="./shop-grid.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Shop</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các trang</font></font></a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết cửa hàng</font></font></a></li>
                                    <li><a href="./shoping-cart.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Xe đẩy hàng</font></font></a></li>
                                    <li><a href="./checkout.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></a></li>
                                    <li><a href="./blog-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết Blog</font></font></a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Blog</font></font></a></li>
                            <li><a href="./contact.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiếp xúc</font></font></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></span></a></li>
                        </ul>
                        <div class="header__cart__price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mục: </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 150,00</font></font></span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tất cả bộ ngành</font></font></span>
                        </div>
                        <ul>
                            <li><a href="#">Fresh Meat</a></li>
                            <li><a href="#">Vegetables</a></li>
                            <li><a href="#">Fruit &amp; Nut Gifts</a></li>
                            <li><a href="#">Fresh Berries</a></li>
                            <li><a href="#">Ocean Foods</a></li>
                            <li><a href="#">Butter &amp; Eggs</a></li>
                            <li><a href="#">Fastfood</a></li>
                            <li><a href="#">Fresh Onion</a></li>
                            <li><a href="#">Papayaya &amp; Crisps</a></li>
                            <li><a href="#">Oatmeal</a></li>
                            <li><a href="#">Fresh Bananas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Tất cả danh mục
                                    </font></font><span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Bạn cần gì?">
                                <button type="submit" class="site-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TÌM KIẾM</font></font></button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+65 11.188.888</font></font></h5>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">thời gian hỗ trợ 24/7</font></font></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg" style="background-image: url(&quot;img/breadcrumb.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhà</font></font></a>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Có phiếu giảm giá? </font></font><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bấm vào đây</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> để nhập mã của bạn
                    </font></font></h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết thanh toán</font></font></h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên nắm tay </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Họ </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quốc gia </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text" placeholder="Địa chỉ đường phố" class="checkout__input__add">
                                <input type="text" placeholder="Căn hộ, dãy phòng, hợp nhất ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thị trấn / Thành phố </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quốc gia / Tiểu bang </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mã bưu điện / ZIP </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="acc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Tạo một tài khoản?
                                    </font></font><input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo tài khoản bằng cách nhập thông tin bên dưới. </font><font style="vertical-align: inherit;">Nếu bạn là khách hàng cũ, vui lòng đăng nhập ở đầu trang</font></font></p>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu tài khoản </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    Gửi đến một địa chỉ khác?
                                    </font></font><input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ghi chú đơn hàng </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span></p>
                                <input type="text" placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ như ghi chú đặc biệt để giao hàng.">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đơn hàng của bạn</font></font></h4>
                                <div class="checkout__order__products"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Các sản phẩm</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Toàn bộ</font></font></span></div>
                                <ul>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gói rau</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$75.99</font></font></span></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rau quả tươi</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$151.99</font></font></span></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chuối hữu cơ</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$53.99</font></font></span></li>
                                </ul>
                                <div class="checkout__order__subtotal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng phụ</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$750.99</font></font></span></div>
                                <div class="checkout__order__total"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Toàn bộ</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$750.99</font></font></span></div>
                                <div class="checkout__input__checkbox">
                                    <label for="acc-or"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Tạo một tài khoản?
                                        </font></font><input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nỗi đau tự nó là mấu chốt của nỗi đau, hiện tại béo chính là như vậy, nhưng tôi cho nó thời gian để rơi vào đó như một nỗi đau đớn và đau đớn tột cùng nào đó.</font></font></p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Kiểm tra thanh toán
                                        </font></font><input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Paypal
                                        </font></font><input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ĐẶT HÀNG TẬN NƠI</font></font></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ: 60-49 Road 11378 New York</font></font></li>
                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại: +65 11.188.888</font></font></li>
                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email: hello@colorlib.com</font></font></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Liên kết hữu ích</font></font></h6>
                        <ul>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Về chúng tôi</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Về cửa hàng của chúng tôi</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mua sắm an toàn</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thông tin giao hàng</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chính sách bảo mật</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sơ đồ trang web của chúng tôi</font></font></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chúng ta là ai</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dịch vụ của chúng tôi</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dự án</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiếp xúc</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sự đổi mới</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lời chứng thực</font></font></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tham gia bản tin của chúng tôi ngay bây giờ</font></font></h6>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhận thông tin cập nhật qua E-mail về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</font></font></p>
                        <form action="#">
                            <input type="text" placeholder="Nhập thư của bạn">
                            <button type="submit" class="site-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đặt mua</font></font></button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
  Bản quyền © </font></font><script>document.write(new Date().getFullYear());</script><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2022 Mọi quyền được bảo lưu | </font><font style="vertical-align: inherit;">Mẫu này được làm bằng</font></font><i class="fa fa-heart" aria-hidden="true"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">bởi </font></font><a href="https://colorlib.com" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Colorlib</font></font></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Dịch"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Văn bản gốc</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Đóng góp bản dịch hay hơn</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>

 



<div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>